<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/cdn.jsdelivr.net_npm_bootstrap@5.3.2_dist_css_bootstrap.min.css' />

    <link rel='stylesheet' href='/css/style.css' />

</head>

<body class="container">

    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1 class="moviesListTitulo"></h1>
    <br>
    <p>
        <a class="botonAgregar" href="/movies/add">Agregar una Pelicula</a>
        <a class="botonVolver" href="/">inicio</a>

    </p>
    <br>
    <div class="row">
        <div class="col">
            <form action="get" id="">
                <label for="search"></label>
                <input type="text">
                <button type="submit" class="btn btn-primary" id="getMovies" >Traer las  peliculas</button>
            </form>

        </div>

        <div class="col list">
        </div>
        
        <button type="button" class="btn btn-primary" id="redirect" >Movies</button>
    </div>



    <script src="/js/moviesShop.js"></script>    
</body>
</html>